@{
    Layout = "_Layout";
}

<div class="dashboard-container text-center">

    <div class="dashboard-card">

        <i class="fa-solid fa-circle-xmark text-danger fa-4x mb-3"></i>

        <h2>
            Payment Cancelled
        </h2>

        <p>
            Your payment was cancelled.
        </p>

        <a asp-controller="Home"
               asp-action="Plans"
               class="primary-btn">
            Back To Plans
        </a>

    </div>

</div>