@{
    ViewData["Title"] = "My QR";
    Layout = "_Layout";
}

<div class="dashboard-container">

    <h3 class="fw-bold mb-4">
        My QR Code
    </h3>

    <div class="dashboard-card text-center">

        <i class="fa-solid fa-qrcode fa-8x text-success mb-4"></i>

        <h5>Subscription ID</h5>

        <p class="text-muted">
            SC-2025-001
        </p>

        <p>
            Premium Subscription
        </p>

        <p class="text-muted mt-3">
            Show this QR code to the coffee shop staff for redemption.
        </p>

    </div>

</div>