@{
    ViewData["Title"] = "Notifications";
    Layout = "_Layout";
}

<div class="dashboard-container">

    <h3 class="fw-bold mb-4">
        Notifications
    </h3>

    <div class="dashboard-card">

        <div class="activity-item">
            <i class="fa-solid fa-bell"></i>

            <div>
                <strong>Subscription Renewed</strong>
                <small class="d-block text-muted">
                    Your premium plan has been renewed.
                </small>
            </div>

        </div>

        <div class="activity-item">
            <i class="fa-solid fa-gift"></i>

            <div>
                <strong>Reward Available</strong>
                <small class="d-block text-muted">
                    You earned 50 reward points.
                </small>
            </div>

        </div>

    </div>

</div>