@{
    ViewData["Title"] = "Settings";
    Layout = "_Layout";
}

<div class="dashboard-container">

    <h3 class="fw-bold mb-4">
        Settings
    </h3>

    <div class="dashboard-card">

        <div class="mb-3">
            <button class="primary-btn">
                Change Password
            </button>
        </div>

        <div class="mb-3">
            <button class="secondary-btn">
                Notification Settings
            </button>
        </div>

        <div>
            <a href="/Auth/Login"
                   class="btn btn-danger w-100">
                Logout
            </a>
        </div>

    </div>

</div>