@{
    Layout = "_Layout";
}

<div class="mobile-screen">

    <div class="text-center mb-5">

        <div class="logo-circle mb-4"></div>

        <h2 class="fw-bold">
            Forgot Password
        </h2>

        <p class="text-secondary">
            Enter your email or phone number
        </p>

    </div>

    <form>

        <div class="mb-4">

            <input class="form-control"
                   placeholder="Email or Phone" />

        </div>

        <a href="/Auth/VerifyOtp"
               class="btn primary-btn">
            Send Code
        </a>

    </form>

</div>