<form asp-controller="Auth"
      asp-action="GrantLocation"
      method="post">

    <button type="submit" class="primary-btn mb-3">
        <i class="fa-solid fa-location-crosshairs me-2"></i>
        Allow Location
    </button>

</form>

<button class="secondary-btn">
    Choose Manually
</button>