@{
    Layout = "_Layout";
}

<div class="mobile-screen">

    <div class="text-center mb-5">

        <div class="logo-circle mb-4"></div>

        <h2 class="fw-bold">
            Create New Password
        </h2>

        <p class="text-secondary">
            Set your new password
        </p>

    </div>

    <form asp-controller="Auth"
          asp-action="ResetPasswordSuccess"
          method="post">

        <div class="mb-3">
            <input type="password"
                   class="form-control"
                   placeholder="New Password"
                   name="NewPassword">
        </div>

        <div class="mb-4">
            <input type="password"
                   class="form-control"
                   placeholder="Confirm Password"
                   name="ConfirmPassword">
        </div>

        <button type="submit"
                class="primary-btn">
            Save Password
        </button>

    </form>

</div>