@{
    Layout = "_Layout";
}

<div class="mobile-screen text-center">

    <div class="logo-circle mb-4"></div>

    <h3 class="fw-bold">
        Smart Coffee
    </h3>

    <p class="text-secondary">
        Loading...
    </p>

    <div class="spinner-border text-success mt-4"></div>

</div>

<script>
    setTimeout(function(){
    window.location.href='/Auth/Onboarding';
    },2500);
</script>
