@{
    Layout = "_Layout";
}

<div class="mobile-screen">

    <div class="text-center mb-5">

        <div class="logo-circle mb-4"></div>

        <h2 class="fw-bold">
            Verification
        </h2>

        <p class="text-secondary">
            Enter the 6 digit code
        </p>

    </div>

    <div class="row g-2 mb-5">

        <div class="col">
            <input maxlength="1" class="form-control text-center">
        </div>

        <div class="col">
            <input maxlength="1" class="form-control text-center">
        </div>

        <div class="col">
            <input maxlength="1" class="form-control text-center">
        </div>

        <div class="col">
            <input maxlength="1" class="form-control text-center">
        </div>

        <div class="col">
            <input maxlength="1" class="form-control text-center">
        </div>

        <div class="col">
            <input maxlength="1" class="form-control text-center">
        </div>

    </div>

    <a href="/Auth/ResetPassword"
           class="btn primary-btn">
        Verify
    </a>

    <div class="text-center mt-4">

        <a href="#"
               class="text-success text-decoration-none">
            Resend Code
        </a>

    </div>

</div>